# Project Title
### Data Engineering Capstone Project

#### Project Summary
--describe your project at a high level--

The project follows the follow steps:
* Step 1: Scope the Project and Gather Data
* Step 2: Explore and Assess the Data
* Step 3: Define the Data Model
* Step 4: Run ETL to Model the Data
* Step 5: Complete Project Write Up

In [1]:
# Do all imports and installs here
import pandas as pd
import datetime as dt
import configparser
import os
from datetime import datetime,timedelta,date

from pyspark.sql.functions import udf
from pyspark.sql.functions import col, sum, avg, max, monotonically_increasing_id
from pyspark.sql.functions import year, month, dayofmonth, hour, weekofyear, date_format, dayofweek, to_date
from pyspark.sql import SparkSession
from pyspark.sql import Window
from pyspark.sql import functions as F
from pyspark.sql import types as T

#from workspace_utils import active_session
from IPython.display import display

In [2]:
config = configparser.ConfigParser()
#config.read('dl.cfg')

os.environ["AWS_ACCESS_KEY_ID"]= 'AKIATP4ZOEIRHQKC67W5' #config['AWS']['AWS_ACCESS_KEY_ID']
os.environ["AWS_SECRET_ACCESS_KEY"]= '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' #config['AWS']['AWS_SECRET_ACCESS_KEY']

In [3]:
# create spark session

spark = SparkSession.builder\
    .config("spark.jars.repositories", "https://repos.spark-packages.org/")\
    .config("spark.jars.packages", "saurfang:spark-sas7bdat:2.0.0-s_2.11")\
    .config("spark.hadoop.fs.s3a.impl","org.apache.hadoop.fs.s3a.S3AFileSystem")\
    .config("spark.hadoop.fs.s3a.access.key", os.environ["AWS_ACCESS_KEY_ID"])\
    .config("spark.hadoop.fs.s3a.secret.key", os.environ["AWS_SECRET_ACCESS_KEY"])\
    .enableHiveSupport().getOrCreate()

sc = spark.sparkContext
sc._jsc.hadoopConfiguration().set("fs.s3a.access.key", os.environ['AWS_ACCESS_KEY_ID'])
sc._jsc.hadoopConfiguration().set("fs.s3a.secret.key", os.environ['AWS_SECRET_ACCESS_KEY'])

print(spark)

<pyspark.sql.session.SparkSession object at 0x7fca28254978>

### Step 1: Scope the Project and Gather Data

#### Scope 
Explain what you plan to do in the project in more detail. What data do you use? What is your end solution look like? What tools did you use? etc>

#### Describe and Gather Data 
Describe the data sets you're using. Where did it come from? What type of information is included?

In [5]:
# Read in the immigration data here for June 2016
#df_spark = spark.read.format('com.github.saurfang.sas.spark').load('../../data/18-83510-I94-Data-2016/i94_apr16_sub.sas7bdat')

In [6]:
#df_spark.head()

Row(cicid=6.0, i94yr=2016.0, i94mon=4.0, i94cit=692.0, i94res=692.0, i94port='XXX', arrdate=20573.0, i94mode=None, i94addr=None, depdate=None, i94bir=37.0, i94visa=2.0, count=1.0, dtadfile=None, visapost=None, occup=None, entdepa='T', entdepd=None, entdepu='U', matflag=None, biryear=1979.0, dtaddto='10282016', gender=None, insnum=None, airline=None, admnum=1897628485.0, fltno=None, visatype='B2')

In [18]:
#df_spark.show(5)

+-----+------+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+--------------+-----+--------+
|cicid| i94yr|i94mon|i94cit|i94res|i94port|arrdate|i94mode|i94addr|depdate|i94bir|i94visa|count|dtadfile|visapost|occup|entdepa|entdepd|entdepu|matflag|biryear| dtaddto|gender|insnum|airline|        admnum|fltno|visatype|
+-----+------+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+--------------+-----+--------+
|  6.0|2016.0|   4.0| 692.0| 692.0|    XXX|20573.0|   null|   null|   null|  37.0|    2.0|  1.0|    null|    null| null|      T|   null|      U|   null| 1979.0|10282016|  null|  null|   null| 1.897628485E9| null|      B2|
|  7.0|2016.0|   4.0| 254.0| 276.0|    ATL|20551.0|    1.0|     AL|   null|  25.0|    3.0|  1.0|20130811|     SEO| null|      G|   null|      Y|   null| 1991.0|     D/S|     M|  null|   null|  3.73679633E9|00296|      F1|
| 15.0|2016.0|   4.0| 101.0| 101.0|    WAS|20545.0|    1.0|     MI|20691.0|  55.0|    2.0|  1.0|20160401|    null| null|      T|      O|   null|      M| 1961.0|09302016|     M|  null|     OS|  6.66643185E8|   93|      B2|
| 16.0|2016.0|   4.0| 101.0| 101.0|    NYC|20545.0|    1.0|     MA|20567.0|  28.0|    2.0|  1.0|20160401|    null| null|      O|      O|   null|      M| 1988.0|09302016|  null|  null|     AA|9.246846133E10|00199|      B2|
| 17.0|2016.0|   4.0| 101.0| 101.0|    NYC|20545.0|    1.0|     MA|20567.0|   4.0|    2.0|  1.0|20160401|    null| null|      O|      O|   null|      M| 2012.0|09302016|  null|  null|     AA|9.246846313E10|00199|      B2|
+-----+------+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+--------------+-----+--------+
only showing top 5 rows

In [9]:
#from pyspark.sql import SparkSession

# spark = SparkSession.builder.\
# config("spark.jars.repositories", "https://repos.spark-packages.org/").\
# config("spark.jars.packages", "saurfang:spark-sas7bdat:2.0.0-s_2.11").\
# enableHiveSupport().getOrCreate()

# df_spark_jan16 = spark.read.format('com.github.saurfang.sas.spark').load('../../data/18-83510-I94-Data-2016/i94_jan16_sub.sas7bdat')
# df_spark_feb16 = spark.read.format('com.github.saurfang.sas.spark').load('../../data/18-83510-I94-Data-2016/i94_feb16_sub.sas7bdat')
# df_spark_mar16 = spark.read.format('com.github.saurfang.sas.spark').load('../../data/18-83510-I94-Data-2016/i94_mar16_sub.sas7bdat')
# df_spark_apr16 = spark.read.format('com.github.saurfang.sas.spark').load('../../data/18-83510-I94-Data-2016/i94_apr16_sub.sas7bdat')
# df_spark_may16 = spark.read.format('com.github.saurfang.sas.spark').load('../../data/18-83510-I94-Data-2016/i94_may16_sub.sas7bdat')
# df_spark_jun16 = spark.read.format('com.github.saurfang.sas.spark').load('../../data/18-83510-I94-Data-2016/i94_jun16_sub.sas7bdat')
# df_spark_jul16 = spark.read.format('com.github.saurfang.sas.spark').load('../../data/18-83510-I94-Data-2016/i94_jul16_sub.sas7bdat')
# df_spark_aug16 = spark.read.format('com.github.saurfang.sas.spark').load('../../data/18-83510-I94-Data-2016/i94_aug16_sub.sas7bdat')
# df_spark_sep16 = spark.read.format('com.github.saurfang.sas.spark').load('../../data/18-83510-I94-Data-2016/i94_sep16_sub.sas7bdat')
# df_spark_oct16 = spark.read.format('com.github.saurfang.sas.spark').load('../../data/18-83510-I94-Data-2016/i94_oct16_sub.sas7bdat')
# df_spark_nov16 = spark.read.format('com.github.saurfang.sas.spark').load('../../data/18-83510-I94-Data-2016/i94_nov16_sub.sas7bdat')
# df_spark_dec16 = spark.read.format('com.github.saurfang.sas.spark').load('../../data/18-83510-I94-Data-2016/i94_dec16_sub.sas7bdat')

In [10]:
#write to parquet
#df_spark.write.parquet("sas_data")
# df_spark_jan16.write.mode("overwrite").parquet("sas_parquet_data/jan2016/")
# df_spark_feb16.write.mode("overwrite").parquet("sas_parquet_data/feb2016/")
# df_spark_mar16.write.mode("overwrite").parquet("sas_parquet_data/mar2016/")
# df_spark_apr16.write.mode("overwrite").parquet("sas_parquet_data/apr2016/")
# df_spark_may16.write.mode("overwrite").parquet("sas_parquet_data/may2016/")
# df_spark_jun16.write.mode("overwrite").parquet("sas_parquet_data/jun2016/")
# df_spark_jul16.write.mode("overwrite").parquet("sas_parquet_data/jul2016/")
# df_spark_aug16.write.mode("overwrite").parquet("sas_parquet_data/aug2016/")
# df_spark_sep16.write.mode("overwrite").parquet("sas_parquet_data/sep2016/")
# df_spark_oct16.write.mode("overwrite").parquet("sas_parquet_data/oct2016/")
# df_spark_nov16.write.mode("overwrite").parquet("sas_parquet_data/nov2016/")
# df_spark_dec16.write.mode("overwrite").parquet("sas_parquet_data/dec2016/")

#df_spark.write.mode("overwrite").parquet("sridhar_parque")
#df_spark=spark.read.parquet("sas_data")

In [26]:
#Now read data from all 2016 files and prepare staging immigration data
#only jan data : 2847924
#only feb data : 2570543
# Read in the immigration data here for June 2016
df_staging_immigration_data = spark.read.parquet('sas_parquet_data/apr2016/*.parquet')

In [20]:
df_staging_immigration_data.count()

3096313

In [25]:
df_staging_immigration_data.show(5)

+---------+------+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+--------------+-----+--------+------------+--------------+
|    cicid| i94yr|i94mon|i94cit|i94res|i94port|arrdate|i94mode|i94addr|depdate|i94bir|i94visa|count|dtadfile|visapost|occup|entdepa|entdepd|entdepu|matflag|biryear| dtaddto|gender|insnum|airline|        admnum|fltno|visatype|arrival_date|departure_date|
+---------+------+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+--------------+-----+--------+------------+--------------+
|5748517.0|2016.0|   4.0| 245.0| 438.0|    LOS|20574.0|    1.0|     CA|20582.0|  40.0|    1.0|  1.0|20160430|     SYD|   NA|      G|      O|     NA|      M| 1976.0|10292016|     F|    NA|     QF|9.495387003E10|00011|      B1|  2016-04-30|    2016-05-08|
|5748518.0|2016.0|   4.0| 245.0| 438.0|    LOS|20574.0|    1.0|     NV|20591.0|  32.0|    1.0|  1.0|20160430|     SYD|   NA|      G|      O|     NA|      M| 1984.0|10292016|     F|    NA|     VA|9.495562283E10|00007|      B1|  2016-04-30|    2016-05-17|
|5748519.0|2016.0|   4.0| 245.0| 438.0|    LOS|20574.0|    1.0|     WA|20582.0|  29.0|    1.0|  1.0|20160430|     SYD|   NA|      G|      O|     NA|      M| 1987.0|10292016|     M|    NA|     DL|9.495640653E10|00040|      B1|  2016-04-30|    2016-05-08|
|5748520.0|2016.0|   4.0| 245.0| 438.0|    LOS|20574.0|    1.0|     WA|20588.0|  29.0|    1.0|  1.0|20160430|     SYD|   NA|      G|      O|     NA|      M| 1987.0|10292016|     F|    NA|     DL|9.495645143E10|00040|      B1|  2016-04-30|    2016-05-14|
|5748521.0|2016.0|   4.0| 245.0| 438.0|    LOS|20574.0|    1.0|     WA|20588.0|  28.0|    1.0|  1.0|20160430|     SYD|   NA|      G|      O|     NA|      M| 1988.0|10292016|     M|    NA|     DL|9.495638813E10|00040|      B1|  2016-04-30|    2016-05-14|
+---------+------+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+--------------+-----+--------+------------+--------------+
only showing top 5 rows

In [27]:
#SAS file section I94ADDR contains state code
df_staging_I94_state_code = spark.read.option("header",True).options(delimiter=',').csv("datafiles/I94_state_code_name.csv")

#SAS file section I94CIT_I94RES contains country code and country name info
df_staging_I94_country_code = spark.read.option("header",True).options(delimiter=',').csv("datafiles/I94_country_code_name.csv")

#SAS file section I94MODE contains  I94 mode type info
df_staging_I94_mode = spark.read.option("header",True).options(delimiter=',').csv("datafiles/I94_mode.csv")

#SAS file section I94PORT contains port and city info
df_staging_I94_port_city = spark.read.option("header",True).options(delimiter=',').csv("datafiles/I94_port_city.csv")

#SAS file section I94VISA contains visa type info
df_staging_I94_visa_type = spark.read.option("header",True).options(delimiter=',').csv("datafiles/I94_visa_type.csv")

In [7]:
#capture row counts for staging dataframes
rowcount_immigration_data = df_staging_immigration_data.count()
rowcount_I94_state_code = df_staging_I94_state_code.count()
rowcount_I94_country_code = df_staging_I94_country_code.count()
rowcount_I94_mode= df_staging_I94_mode.count()
rowcount_I94_port_city = df_staging_I94_port_city.count()
rowcount_I94_visa_type = df_staging_I94_visa_type.count()

In [8]:
df_staging_I94_state_code.show(5)
df_staging_I94_country_code.show(5)
df_staging_I94_mode.show(5)
df_staging_I94_port_city.show(5)
df_staging_I94_visa_type.show()

+----------+----------+
|state_code|state_name|
+----------+----------+
|        AL|   ALABAMA|
|        AK|    ALASKA|
|        AZ|   ARIZONA|
|        AR|  ARKANSAS|
|        CA|CALIFORNIA|
+----------+----------+
only showing top 5 rows

+------------+--------------+
|country_code|  country_name|
+------------+--------------+
|         582|MEXICO Air Sea|
|         236|   AFGHANISTAN|
|         101|       ALBANIA|
|         316|       ALGERIA|
|         102|       ANDORRA|
+------------+--------------+
only showing top 5 rows

+-------+------------+
|mode_id|   mode_name|
+-------+------------+
|      1|         Air|
|      2|         Sea|
|      3|        Land|
|      9|Not reported|
+-------+------------+

+---------+--------------------+----------+
|city_code|       city_province|state_code|
+---------+--------------------+----------+
|      ALC|               ALCAN|       AK |
|      ANC|           ANCHORAGE|        AK|
|      BAR|BAKER AAF - BAKER...|        AK|
|      DAC|       DALTONS CACHE|      AK  |
|      PIZ|DEW STATION PT LA...|        AK|
+---------+--------------------+----------+
only showing top 5 rows

+------------+---------+
|visa_type_id|visa_type|
+------------+---------+
|           1| Business|
|           2| Pleasure|
|           3|  Student|
+------------+---------+

In [9]:
#load airport codes data
df_staging_airport_codes = spark.read.option("header",True).options(delimiter=",").csv("datafiles/airport-codes_csv.csv")
#rowcount_airport_codes = df_staging_airport_codes.count()

In [10]:
#load iata airport codes and join with df_staging_airport_codes
df_staging_iata_codes = spark.read.option("header",True).options(delimiter=",").csv("datafiles/US_iata_codes.csv")
#df_staging_iata_codes.printSchema()
#rowcount_iata_codes = df_staging_iata_codes.count()

In [11]:
#load US city demographics
staging_us_cities_demographics= spark.read.option("header",True).options(delimiter=";").csv("datafiles/us-cities-demographics.csv")

### Step 2: Explore and Assess the Data
#### Explore the Data 
Identify data quality issues, like missing values, duplicate data, etc.

#### Cleaning Steps
Document steps necessary to clean the data

In [22]:
#create function to convert double to datetime value
def convert_double_to_datetime(x):
    try:
        if x == 'null':
            x = 0
        start = datetime(1960, 1, 1)
        return start + timedelta(days=int(x))
    except:
        return None

In [34]:
#create udf to update arrival and departure date columns
udf_datetime = udf(lambda x: convert_double_to_datetime(x), T.DateType())
df_staging_immigration_data = df_staging_immigration_data.withColumn('arrival_date',udf_datetime(df_staging_immigration_data.arrdate))
df_staging_immigration_data = df_staging_immigration_data.withColumn('departure_date',udf_datetime(df_staging_immigration_data.depdate))
df_staging_immigration_data = df_staging_immigration_data.fillna({\
         'i94yr':      0.0,\
         'i94addr':   'NA',\
         'arrdate':   'NA',\
         'depdate':   'NA',\
         'i94bir':    'NA',\
         'i94visa':    0.0,\
         'count':      0.0,\
         'dtadfile':  'NA',\
         'visapost':  'NA',\
         'occup':     'NA',\
         'entdepa':   'NA',\
         'entdepd':   'NA',\
         'entdepu':   'NA',\
         'matflag':   'NA',\
         'biryear':   'NA',\
         'dtaddto':   'NA',\
         'gender':    'NA',\
         'insnum':    'NA',\
         'airline':   'NA',\
         'admnum':     0.0,\
         'fltno':     'NA',\
         'visatype':  'NA'\
         })

In [36]:
df_staging_immigration_data = df_staging_immigration_data.filter((col("arrdate") == 'NA'))

In [37]:
df_staging_immigration_data.show(5)

+-----+-----+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+-------+------+------+-------+------+-----+--------+------------+--------------+
|cicid|i94yr|i94mon|i94cit|i94res|i94port|arrdate|i94mode|i94addr|depdate|i94bir|i94visa|count|dtadfile|visapost|occup|entdepa|entdepd|entdepu|matflag|biryear|dtaddto|gender|insnum|airline|admnum|fltno|visatype|arrival_date|departure_date|
+-----+-----+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+-------+------+------+-------+------+-----+--------+------------+--------------+
+-----+-----+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+-------+------+------+-------+------+-----+--------+------------+--------------+

In [30]:
df_staging_immigration_data.createOrReplaceTempView("tbl_stg_immigration_data")
df_staging_I94_state_code.createOrReplaceTempView("tbl_I94ADDR_Mapping")
df_staging_I94_country_code.createOrReplaceTempView("tbl_I94CIT_I94RES_Mapping")
df_staging_I94_mode.createOrReplaceTempView("tbl_I94MODE_Mapping")
df_staging_I94_port_city.createOrReplaceTempView("tbl_I94PORT_Mapping")
df_staging_I94_visa_type.createOrReplaceTempView("tbl_I94VISA_Mapping")
df_final_immigration = spark.sql("""

            SELECT DISTINCT IMM.cicid
                           ,IMM.i94yr
                           ,IMM.i94mon
                           ,IMM.i94addr
                           ,I94CIT_I94RES1.country_name as country_of_origin
                           ,trim(IMM.i94port) as i94port
                           ,initcap(lower(trim(SPLIT(I94PORT.city_province,',')[0]))) as i94port_city
                           ,I94PORT.state_code as i94port_statecode
                           ,arrival_date
                           ,month(arrival_date) as month
                           ,year(arrival_date) as year
                           ,I94MODE.mode_name  as i94mode
                           ,i94addr as state_code
                           ,departure_date
                           ,i94bir as age
                           ,IMM.visatype 
                           ,I94VISA.visa_type as i94visa
                           ,biryear as birth_year
                           ,gender
                           ,airline
                           ,fltno   
            FROM tbl_stg_immigration_data AS IMM 
            LEFT JOIN tbl_I94ADDR_Mapping AS I94ADDR on IMM.i94addr = I94ADDR.state_code 
            LEFT JOIN tbl_I94CIT_I94RES_Mapping AS I94CIT_I94RES1 on IMM.i94cit = I94CIT_I94RES1.country_code
            LEFT JOIN tbl_I94MODE_Mapping AS I94MODE on IMM.i94mode = I94MODE.mode_name 
            LEFT JOIN tbl_I94PORT_Mapping AS I94PORT on IMM.i94port = I94PORT.city_code 
            LEFT JOIN tbl_I94VISA_Mapping AS I94VISA on IMM.visatype = I94VISA.visa_type
            WHERE arrival_date IS NOT NULL AND IMM.arrdate !='NA'
            """)
df_final_immigration.limit(10).toPandas()

Empty DataFrame
Columns: [cicid, i94yr, i94mon, i94addr, country_of_origin, i94port, i94port_city, i94port_statecode, arrival_date, month, year, i94mode, state_code, departure_date, age, visatype, i94visa, birth_year, gender, airline, fltno]
Index: []

[0 rows x 21 columns]

In [ ]:
df_final_immigration.count()

In [16]:
df_final_immigration.count()

2943627

In [11]:
df_final_immigration.count()

3096313

In [43]:

#drop rows with iata_code as null
df_staging_airport_codes.dropna(subset=["iata_code"])
#check iata_code in airport_codes data and drop invalid entries
df_staging_airport_codes= df_staging_airport_codes.filter(df_staging_airport_codes['iata_code'].rlike('^[A-Z]'))
df_staging_airport_codes.dropna()
#filter airport_codes data for US airports
df_final_airport_codes = df_staging_airport_codes.filter((col("iata_code") != 'USA') & (col("iso_country") == 'US'))

df_final_airport_codes.printSchema()
rowcount_airport_codes = df_final_airport_codes.count()

root
 |-- ident: string (nullable = true)
 |-- type: string (nullable = true)
 |-- name: string (nullable = true)
 |-- elevation_ft: string (nullable = true)
 |-- continent: string (nullable = true)
 |-- iso_country: string (nullable = true)
 |-- iso_region: string (nullable = true)
 |-- municipality: string (nullable = true)
 |-- gps_code: string (nullable = true)
 |-- iata_code: string (nullable = true)
 |-- local_code: string (nullable = true)
 |-- coordinates: string (nullable = true)

In [44]:
#prepare clean airport codes
df_final_airport_codes.createOrReplaceTempView("tbl_stg_airport_codes")
df_staging_iata_codes.createOrReplaceTempView("tbl_stg_iata_codes")
df_final_city_airport_info = spark.sql("""
                                    SELECT ia.City as city,
                                           ia.State as state_code,
                                           ia.Code as iata_code,
                                           ap.continent AS continent,
                                           ap.iso_country AS iso_country,
                                           ap.iso_region AS iso_region,
                                           ap.municipality,
                                           ap.gps_code,                                           
                                           ap.local_code,
                                           ap.coordinates,
                                           ap.name AS airport_name,
                                           ap.type AS airport_type,
                                           ap.ident AS airport_identity
                                    FROM tbl_stg_airport_codes ap
                                    JOIN tbl_stg_iata_codes ia
                                      ON  ap.iata_code=ia.Code
                                    WHERE ap.continent = 'NA'
                                     AND ap.iso_country = 'US'
                                    """)

df_final_city_airport_info.count()
df_final_city_airport_info.limit(10).toPandas()

,city,state_code,iata_code,continent,iso_country,iso_region,municipality,gps_code,local_code,coordinates,airport_name,airport_type,airport_identity
0,Austin,TX,AUS,NA,US,US-TX,None,KAUS,None,"-97.6997852325, 30.2987223546",Austin Robert Mueller Municipal,closed,AUS
1,Craig,AK,CGA,NA,US,US-AK,Craig,CGA,CGA,"-133.1479949951172, 55.47880172729492",Craig Seaplane Base,seaplane_base,CGA
2,Allentown,PA,ABE,NA,US,US-PA,Allentown,KABE,ABE,"-75.44080352783203, 40.652099609375",Lehigh Valley International Airport,medium_airport,KABE
3,Abilene,TX,ABI,NA,US,US-TX,Abilene,KABI,ABI,"-99.68190002440001, 32.4113006592",Abilene Regional Airport,medium_airport,KABI
4,Albuquerque,NM,ABQ,NA,US,US-NM,Albuquerque,KABQ,ABQ,"-106.609001, 35.040199",Albuquerque International Sunport,large_airport,KABQ
5,Aberdeen,SD,ABR,NA,US,US-SD,Aberdeen,KABR,ABR,"-98.42179870605469, 45.449100494384766",Aberdeen Regional Airport,medium_airport,KABR
6,Albany,GA,ABY,NA,US,US-GA,Albany,KABY,ABY,"-84.19450378417969, 31.535499572753906",Southwest Georgia Regional Airport,medium_airport,KABY
7,Nantucket,MA,ACK,NA,US,US-MA,Nantucket,KACK,ACK,"-70.06020355, 41.25310135",Nantucket Memorial Airport,medium_airport,KACK
8,Waco,TX,ACT,NA,US,US-TX,Waco,KACT,ACT,"-97.23049926757812, 31.611299514770508",Waco Regional Airport,medium_airport,KACT
9,Eureka,CA,ACV,NA,US,US-CA,Arcata/Eureka,KACV,ACV,"-124.109, 40.978101",California Redwood Coast-Humboldt County Airport,medium_airport,KACV

In [45]:
#clean the data for us city demographics
df_staging_us_cities_demographics = df_staging_us_cities_demographics.filter(df_staging_us_cities_demographics.City.isNotNull())
df_staging_us_cities_demographics=df_staging_us_cities_demographics.dropna()

df_staging_us_cities_demographics.printSchema()

root
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Median Age: string (nullable = true)
 |-- Male Population: string (nullable = true)
 |-- Female Population: string (nullable = true)
 |-- Total Population: string (nullable = true)
 |-- Number of Veterans: string (nullable = true)
 |-- Foreign-born: string (nullable = true)
 |-- Average Household Size: string (nullable = true)
 |-- State Code: string (nullable = true)
 |-- Race: string (nullable = true)
 |-- Count: string (nullable = true)

In [46]:
#create time dimension table
df_time = spark.sql("""
                    SELECT DISTINCT arrival_date AS date_value FROM tbl_stg_immigration_data WHERE arrival_date IS NOT NULL 
                    UNION 
                    SELECT DISTINCT departure_date AS date_value FROM tbl_stg_immigration_data WHERE departure_date IS NOT NULL 
                    """)
df_time = df_time.withColumn('day',dayofmonth(df_time.date_value)) \
    .withColumn('week',weekofyear(df_time.date_value)) \
    .withColumn('month',month(df_time.date_value)) \
    .withColumn('year',year(df_time.date_value)) \
    .withColumn('weekday',dayofweek(df_time.date_value)) 
#df_time_clean.limit(10).toPandas()

df_time.printSchema()

root
 |-- date_value: date (nullable = true)
 |-- day: integer (nullable = true)
 |-- week: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- year: integer (nullable = true)
 |-- weekday: integer (nullable = true)

### Step 3: Define the Data Model
#### 3.1 Conceptual Data Model
Map out the conceptual data model and explain why you chose that model

#### 3.2 Mapping Out Data Pipelines
List the steps necessary to pipeline the data into the chosen data model

In [47]:
df_staging_us_cities_demographics.createOrReplaceTempView("tbl_stg_us_cities_demographics")
df_final_us_city_demographics = spark.sql("""
                                            SELECT DISTINCT LOWER(City) as city, 
                                                UPPER(State) as state, 
                                                `Median Age` AS median_age, 
                                                `Male Population` AS male_population, 
                                                `Female Population` AS female_population, 
                                                `Total Population` AS total_population, 
                                                `Number of Veterans` AS number_of_veterans, 
                                                `Foreign-born` AS foreign_born, 
                                                `Average Household Size` AS average_household_size, 
                                                rtrim(ltrim(`State Code`)) AS state_code, 
                                                race, 
                                                count
                                            FROM tbl_stg_us_cities_demographics                  
                                            """)
df_final_us_city_demographics.limit(3).toPandas()
#df_final_us_city_demographics.show(5)

,city,state,median_age,male_population,female_population,total_population,number_of_veterans,foreign_born,average_household_size,state_code,race,count
0,escondido,CALIFORNIA,33.3,76551,74907,151458,8110,46298,3.27,CA,American Indian and Alaska Native,3151
1,rockford,ILLINOIS,36.3,71076,78270,149346,8894,18323,2.52,IL,Asian,5500
2,yuba city,CALIFORNIA,34.5,33654,33290,66944,4706,18032,2.9,CA,Hispanic or Latino,20890

### Step 4: Run Pipelines to Model the Data 
#### 4.1 Create the data model
Build the data pipelines to create the data model.

In [48]:
# Write code here
df_final_immigration.createOrReplaceTempView("tbl_immigration_data")
df_final_city_airport_info.createOrReplaceTempView("tbl_city_airport_info")
df_final_us_city_demographics.createOrReplaceTempView("tbl_us_city_demographics")
df_time.createOrReplaceTempView("tbl_time")
df_immigration_by_city = spark.sql("""SELECT 
                                            CAST(imm.cicid AS int) AS cicid,
                                            imm.country_of_origin,
                                            cai.iata_code AS arrival_airport_code,
                                            cai.city AS arrival_city_name,
                                            cai.state_code AS arrival_state_code,
                                            imm.arrival_date,  
                                            dt.month AS arrival_month,
                                            dt.year AS arrival_year,
                                            imm.visatype AS arrival_visa_type,             
                                            imm.gender,   
                                            CAST(imm.birth_year AS int) AS birth_year,
                                            cdem.total_population AS destination_city_population,
                                            cdem.median_age AS destination_median_age
                                     FROM tbl_immigration_data imm
                                     JOIN tbl_us_city_demographics cdem
                                       ON imm.i94port_statecode = cdem.state_code
                                      AND LOWER(imm.i94port_city) = LOWER(cdem.city)
                                     JOIN tbl_city_airport_info cai
                                       ON LOWER(cdem.city) = LOWER(cai.city)
                                      AND trim(cdem.state_code) = trim(cai.state_code)
                                     JOIN tbl_time dt
                                       ON imm.arrival_date = dt.date_value
                                 """).dropDuplicates()
df_immigration_by_city.dropna()

df_immigration_by_city.show(5)

+-------+-----------------+--------------------+-----------------+------------------+------------+-------------+------------+-----------------+------+----------+---------------------------+----------------------+
|  cicid|country_of_origin|arrival_airport_code|arrival_city_name|arrival_state_code|arrival_date|arrival_month|arrival_year|arrival_visa_type|gender|birth_year|destination_city_population|destination_median_age|
+-------+-----------------+--------------------+-----------------+------------------+------------+-------------+------------+-----------------+------+----------+---------------------------+----------------------+
|3261635|   MEXICO Air Sea|                 LRD|           Laredo|                TX|  2016-12-16|           12|        2016|               B1|     M|      1982|                     255789|                  28.8|
|1762900|   MEXICO Air Sea|                 LRD|           Laredo|                TX|  2016-12-09|           12|        2016|               B2|     F|      1970|                     255789|                  28.8|
|1370319|   MEXICO Air Sea|                 LRD|           Laredo|                TX|  2016-12-07|           12|        2016|               B1|     M|      1965|                     255789|                  28.8|
|4373028|   MEXICO Air Sea|                 LRD|           Laredo|                TX|  2016-12-21|           12|        2016|               B1|     M|      1972|                     255789|                  28.8|
|3559394|            SPAIN|                 LRD|           Laredo|                TX|  2016-12-17|           12|        2016|               WT|     M|      1971|                     255789|                  28.8|
+-------+-----------------+--------------------+-----------------+------------------+------------+-------------+------------+-----------------+------+----------+---------------------------+----------------------+
only showing top 5 rows

#### 4.2 Data Quality Checks
Explain the data quality checks you'll perform to ensure the pipeline ran as expected. These could include:
 * Integrity constraints on the relational database (e.g., unique key, data type, etc.)
 * Unit tests for the scripts to ensure they are doing the right thing
 * Source/Count checks to ensure completeness
 
Run Quality Checks

In [49]:
# Perform quality checks here
# Performing cleaning tasks here
df_final_immigration.createOrReplaceTempView("staging_immigration")
cicid_count_check = spark.sql("""SELECT COUNT(*) AS invalid_cicid FROM staging_immigration WHERE cicid IS  NULL""")
cicid_count_check.show()

df_final_city_airport_info.createOrReplaceTempView("airport_codes_final")
airport_codes_check= spark.sql("""SELECT COUNT(*) AS invalid_airport_codes FROM airport_codes_final WHERE iata_code IS NULL""")
airport_codes_check.show(1)

df_final_us_city_demographics.createOrReplaceTempView("us_cities_demo_final")
us_cities_demo_check= spark.sql("""SELECT COUNT(*) AS invalid_cities FROM us_cities_demo_final WHERE City IS NULL""")
us_cities_demo_check.show(1)

+-------------+
|invalid_cicid|
+-------------+
|            0|
+-------------+

+---------------------+
|invalid_airport_codes|
+---------------------+
|                    0|
+---------------------+

+--------------+
|invalid_cities|
+--------------+
|             0|
+--------------+

#### 4.3 Data dictionary 
Create a data dictionary for your data model. For each field, provide a brief description of what the data is and where it came from. You can include the data dictionary in the notebook or in a separate file.

In [50]:
df_final_immigration.printSchema()
df_final_city_airport_info.printSchema()
df_final_us_city_demographics.printSchema()
df_time.printSchema()
df_immigration_by_city.printSchema()

root
 |-- cicid: double (nullable = true)
 |-- i94yr: double (nullable = false)
 |-- i94mon: double (nullable = true)
 |-- country_of_origin: string (nullable = true)
 |-- i94port: string (nullable = true)
 |-- i94port_city: string (nullable = true)
 |-- i94port_statecode: string (nullable = true)
 |-- arrival_date: date (nullable = true)
 |-- i94mode: string (nullable = true)
 |-- state_code: string (nullable = false)
 |-- departure_date: date (nullable = true)
 |-- age: double (nullable = true)
 |-- visatype: string (nullable = false)
 |-- i94visa: string (nullable = true)
 |-- birth_year: double (nullable = true)
 |-- gender: string (nullable = false)
 |-- airline: string (nullable = false)
 |-- fltno: string (nullable = false)

root
 |-- city: string (nullable = true)
 |-- state_code: string (nullable = true)
 |-- iata_code: string (nullable = true)
 |-- continent: string (nullable = true)
 |-- iso_country: string (nullable = true)
 |-- iso_region: string (nullable = true)
 |-- municipality: string (nullable = true)
 |-- gps_code: string (nullable = true)
 |-- local_code: string (nullable = true)
 |-- coordinates: string (nullable = true)
 |-- airport_name: string (nullable = true)
 |-- airport_type: string (nullable = true)
 |-- airport_identity: string (nullable = true)

root
 |-- city: string (nullable = true)
 |-- state: string (nullable = true)
 |-- median_age: string (nullable = true)
 |-- male_population: string (nullable = true)
 |-- female_population: string (nullable = true)
 |-- total_population: string (nullable = true)
 |-- number_of_veterans: string (nullable = true)
 |-- foreign_born: string (nullable = true)
 |-- average_household_size: string (nullable = true)
 |-- state_code: string (nullable = true)
 |-- race: string (nullable = true)
 |-- count: string (nullable = true)

root
 |-- date_value: date (nullable = true)
 |-- day: integer (nullable = true)
 |-- week: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- year: integer (nullable = true)
 |-- weekday: integer (nullable = true)

root
 |-- cicid: integer (nullable = true)
 |-- country_of_origin: string (nullable = true)
 |-- arrival_airport_code: string (nullable = true)
 |-- arrival_city_name: string (nullable = true)
 |-- arrival_state_code: string (nullable = true)
 |-- arrival_date: date (nullable = true)
 |-- arrival_month: integer (nullable = true)
 |-- arrival_year: integer (nullable = true)
 |-- arrival_visa_type: string (nullable = false)
 |-- gender: string (nullable = false)
 |-- birth_year: integer (nullable = true)
 |-- destination_city_population: string (nullable = true)
 |-- destination_median_age: string (nullable = true)

In [51]:
# Sample Analytic Queries

df_immigration_by_city.createOrReplaceTempView("tbl_immigration_by_city")

#by airport,by month
df_immigration_by_airport = spark.sql("""SELECT arrival_airport_code, arrival_month, count(*) as no_of_arrivals
                                      FROM tbl_immigration_by_city
                                      GROUP BY arrival_airport_code, arrival_month""")
df_immigration_by_airport.show()

#by country_of_origin,month
df_immigration_by_country_of_origin = spark.sql("""SELECT country_of_origin, arrival_month, count(*) as no_of_arrivals
                                      FROM tbl_immigration_by_city
                                      GROUP BY country_of_origin, arrival_month""")
df_immigration_by_country_of_origin.show()

+--------------------+-------------+--------------+
|arrival_airport_code|arrival_month|no_of_arrivals|
+--------------------+-------------+--------------+
|                 LAS|           12|         57370|
|                 JAX|           12|            22|
|                 CAK|           12|             1|
|                 ANC|           12|           133|
|                 MLB|           12|            77|
|                 AUS|           12|          3402|
|                 LGB|           12|           427|
|                 LRD|           12|           581|
|                 CLT|           12|         15208|
|                 BNA|           12|           290|
|                 PBI|           12|          3560|
|                 GRB|           12|             8|
|                 BHM|           12|             4|
|                 FAT|           12|            21|
|                 DSM|           12|             3|
|                 ONT|           12|          2041|
|                 ROC|           12|            70|
|                 MKE|           12|            80|
|                 RST|           12|            30|
|                 IND|           12|           191|
+--------------------+-------------+--------------+
only showing top 20 rows

+--------------------+-------------+--------------+
|   country_of_origin|arrival_month|no_of_arrivals|
+--------------------+-------------+--------------+
|          BANGLADESH|           12|            30|
|              PANAMA|           12|           492|
|ST. VINCENT-GRENA...|           12|             5|
|            PARAGUAY|           12|            33|
|           ST. LUCIA|           12|            40|
|            ZIMBABWE|           12|            21|
|             ERITREA|           12|             3|
|             ARMENIA|           12|             3|
|        BURKINA FASO|           12|             4|
|             BURUNDI|           12|             2|
|              MONACO|           12|            15|
|               EGYPT|           12|            73|
|            COLOMBIA|           12|          1304|
|           SRI LANKA|           12|            25|
|           MACEDONIA|           12|             5|
|              CYPRUS|           12|            40|
|             BERMUDA|           12|             5|
|             NIGERIA|           12|           122|
|           MAURITIUS|           12|            20|
|             ALBANIA|           12|            12|
+--------------------+-------------+--------------+
only showing top 20 rows

#### Step 5: Complete Project Write Up
* Clearly state the rationale for the choice of tools and technologies for the project.
* Propose how often the data should be updated and why.
* Write a description of how you would approach the problem differently under the following scenarios:
 * The data was increased by 100x.
 * The data populates a dashboard that must be updated on a daily basis by 7am every day.
 * The database needed to be accessed by 100+ people.